.bodyno1 { 
   background-color: black;
   width: 120hw;
    height: 100%;
   }
.bod { 
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.dp{
    height: 200px;
    width: 300px;
    background-image: url(./log.jpg);
    border-radius: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}
   
fieldset tanga{
    background-color: white-blue;
    color: dark-blue;
    font-size: small;
     width: 40%;
    height: 40%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logo{
    color: lightskyblue;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    color: bisque;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
a h1{
    color: orange;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    }
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    color:dark-blue;
    font-size:small;
}



.header1{
    background-image: url(./bok.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.menu a {
    text-decoration-line: none;
}

a {
    margin: 15px;
    background-color: black;
    color: gold;
    border-radius: 10px;
   
}

a:hover {
    color: red;
    background-color: white;
    border-radius: 10px;
}

.mid{
    width: 100%;
    height: 50%;
}
.footer1{
    width: 100%;
    height: 100%;
    background-color: dark-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: orangered;
}
select{
    color: purple;
    background-color: rgb(12, 198, 105);
     border-radius: 10px;
}
.bod2{
    background-color: cadetblue;
    

    
}
.bod2 H1{
    color: rgb(210, 202, 217);
    background-color: brown;
    border-radius: 15%;
}
.last{
    height: 70px;
    width: 200px;
    background-image: url(./bel.jfif);
    border-radius: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
.ft{
    background-image: url(./tz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: dark-blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    
}
.us{
    padding: 50px;   
color:coral;
text-decoration: none;
display: flex;
flex-direction: row;
align-items: end;
justify-content: right;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.tm{
    background-image: url(./bell.jfif);
    background-repeat: no-repeat;
    background-size: cover;

}
.tie{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    
}

fieldset{
    background-color: black;
    color: brown;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
}
.CHAND{
   background-color: rgb(28, 4, 4);
  
    display: fleX;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

.FD1{
    background-image: url(./sc.jpg);

    color: green;
    align-items: center;
    width: 50%;
}
.FD2{
    background-color:rgb(92, 158, 13);
    color: rgb(219, 178, 12);
    align-items: center;
    width: 50%;
}
.FD1 h3{
    color: red;
}
.FD2 h3{
    color: blue;
}
.ch{
    background-image: url(./CHEM5.jpg);
    background-size: cover;
    color: red;
}
.gs{
    border-color: blueviolet;
    color: red;
}
.geg{
color: red;
}
.table{
    background-color: brown;
   width: 100%;
   height: 100%;
    color: rgb(14, 196, 56);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.table td{
    color: blue;
}
header{
    background-color: black;
    color: peru;
    width: 100%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.butimba{
width: 100%;
height: 100%;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;

}
footer{
   
    background-color: dark-blue;
   background-image: url(./bx.webp);
    background-size: cover;
    background-repeat: no repeat;
    width: 100%;
    height: 100%;
   }
   .ss1{
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(37, 125, 35, 0.75),rgba(15, 3, 3, 0.75)),url(./pexels-pixabay-159740.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: change 20s infinite ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes change {
    0%{
        background-image:linear-gradient(rgb(0,0,0,0.75),rgb(0,0,0,0.75)), url(./WhatsApp\ Image\ 2025-01-02\ at\ 9.51.06\ PM.jpeg);
    }
    20%{
        background-image: linear-gradient(rgb(0,0,0,0.75),rgb(0,0,0,0.75)),url(./WhatsApp\ Image\ 2025-01-02\ at\ 9.51.17\ PM.jpeg);
    }
    40%{
        background-image: linear-gradient(rgb(0,0,0,0.75),rgb(0,0,0,0.75)),url(./bel.jfif);
    }
    60%{
        background-image:linear-gradient(rgb(0,0,0,0.65),rgb(0,0,0,0.65)), url(./WhatsApp\ Image\ 2025-01-02\ at\ 9.51.34\ PM\ \(2\).jpeg);
    }
    80%{
        background-image: linear-gradient(rgb(0,0,0,0.75),rgb(0,0,0,0.75)),url(./WhatsApp\ Image\ 2025-01-02\ at\ 9.51.34\ PM.jpeg);
    }
    100%{
        background-image:linear-gradient(rgb(0,0,0,0.75),rgb(0,0,0,0.75)), url(./WhatsApp\ Image\ 2025-01-02\ at\ 9.51.33\ PM\ copy.jpeg);
    }
}
one h2,p{
    text-align: center;
    color: #fff;
    font-weight: 100px;
    font-size: 40px;
}
.bnt .bino{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(200, 36, 36);
}
.bnt .bino a{
    text-decoration: none;
    font-size: 20px;
}
.bnt .bino:hover{
    cursor: pointer;
    background-color: #fff;
    color: darkgreen;
}




































